{% extends "analytics_portal/global_layout.html" %}

{% block title %}Employees{% endblock %}

{% block content %}
    <h2>Employees</h2>
    <!-- filter by department -->
    <form method="GET">
        <label for="department">Filter by department:</label>
        <select name="department">
            <option value="">---select---</option>
            {% for value, label in departments %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
        <button type="submit">Search</button>
    </form>

    <!-- display results -->
    <a class="btn btn-success m-2" href="{% url 'add_employee'%}">+ Add Employee</a>
    <table class="table-responsive table table-striped table-hover" boarder="1"">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{employee.full_name}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.get_department_display}}</td>
                    <td>
                        <a class="link-light" href="{% url 'update_employee' employee.id %}">Edit</a>
                        &ensp; | &ensp;
                        <a class="link-light" href="{% url 'delete_employee' employee.id %}">Delete</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4"> No results found.</td>
                </tr>
            {% endfor %}
            </table>
        </tbody>
{% endblock %}