<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
</head>
<body>
    <h2>Employees</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <!-- <th>Actions</th> -->
        </tr>
        
        {% for employee in employees %}
            <tr>
                <td>{{employee.full_name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.department}}</td>
                <!-- <td>
                    <a href="{% url 'update_student' student.id %}">Edit</a>
                    <a href="{% url 'delete_student' student.id %}">Delete</a>
                </td> -->
            </tr>
        {% endfor %}
    </table>
</body>
</html>