{% extends "analytics_portal/global_layout.html" %}

{% block title %}Enrollments{% endblock %}


{% block content %}
    <h2>Enrollments</h2>
    <a class="btn btn-success m-2" href="{% url 'add_enrollment'%}">+ Enroll Employee</a>

    <!-- filter by status -->
    <form method="GET">
        <label for="status">Filter by status:</label>
        <select name="status">
            <option value="">---select---</option>
            {% for value, label in status %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
        <button type="submit">Search</button>
    </form>

    <!-- display results -->
    <table class="table-responsive table table-striped table-hover" boarder="1"">
        <thead class="table-dark">
            <tr>
                <th>Employee (email)</th>
                <th>Course</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for enrollment in enrollments %}
                <tr>
                    <td>{{enrollment.employee.email}}</td>
                    <td>{{enrollment.session}}</td>
                    <td>{{enrollment.get_status_display}}</td>
                    <td>
                        <a class="link-light" href="{% url 'update_enrollment' enrollment.id %}">Edit</a>
                    </td>
                </tr>
               {% empty %}
                <tr>
                    <td colspan="4"> No results found.</td>
                </tr>
            {% endfor %}
            </table>
        </tbody>
{% endblock %}